$fontBasicColor: rgba(255,100,0, 1);
body {
    background: #000000 url(../images/binding_dark/binding_dark_@2X.png) center top repeat;
}
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
div.page-content {
    width: 80%;
    margin: 0 auto;
    background: url(../images/crossword/crossword.png) repeat;
    border-radius: 20px;
    -moz-box-shadow:    5px 5px 3px 3px #222;
    -webkit-box-shadow: 5px 5px 3px 3px #222;
    box-shadow:         5px 5px 3px 3px #222;
}
.site-header {
    background-color: transparent;
    border: none;
}
.site-footer {
    border: none;
}
.page-link,.page-link:hover,.page-link:visited {
    color: #ccc;
}
.site-title, .site-title:hover, .site-title:visited {
    color: #ccc;
	background: url(../images/dcoder_logo.png) transparent no-repeat;
	width: 155px;
	height: 35px;
	text-indent: -9999px;
	margin-top: 16px;
}
.post-link,.post-link:visited,.post-link:hover {
    color: #E35A05;
}
pre {
    overflow: auto;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.fade-in.one {
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

.fade-in.two {
	-webkit-animation-delay: 1.2s;
	-moz-animation-delay:1.2s;
	animation-delay: 1.2s;
}

.fade-in.three {
	-webkit-animation-delay: 1.6s;
	-moz-animation-delay: 1.6s;
	animation-delay: 1.6s;
}

ul.posts,.bg {
	padding: 30px;
	border-radius: 10px;
	background: rgba(250,170,0,0.12);
}
.bg {
	height: 240px;
	margin-bottom: 32px;
	padding-bottom: 8px;
	font-style: italic;
	text-shadow: 1px 2px 2px rgba(150, 150, 150, 1);
	text-align: center;
	blockquote {
		height: 100px;
	}

	.pagination {
		position: relative;
	}
}

.wrap {
	max-width: none;
	padding-top: 0px;
	padding-bottom: 8px;
}
h1,h2,h3,h4,h5 {
	color: darken($fontBasicColor, 10%);
	text-shadow: 1px 2px 2px rgba(150, 150, 150, 1);
	margin-top: 0;
}
h1 {
	font-size: 16pt;
	font-weight: bold;
}
a {
	color: lighten($fontBasicColor, 10%);
	&:visited {
		color: darken($fontBasicColor, 10%);
	}
	span.username {
		color: lighten($fontBasicColor, 10%);
	}
	&:visited {
		span.username {
			color: darken($fontBasicColor, 10%);
		}
	}
}
.sidebar {
	h1,h2,h4,h5 {
		text-align: center;
		font-weight: bold;
	}
	h1 {
		margin-bottom: 25px;
	}
	h2 {
		text-align: center;
		color: #fff;
		background-color: lighten(#000, 20%);
		margin-top: 10px;
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		border-radius: 10px;
	}
	h3 {
		text-align: right;
		padding-right: 2em;
		font-family: monospace;
	}
	img.profile-photo {
		width: 100%;
		//opacity: 0;
	}
	p {
		text-align: center;
	}
}
.sidebar-content {
	padding: 30px;
	border-radius: 10px;
	background: rgba(250,170,0,0.12);
}
blockquote {
	font-size: 11pt;
}

div.comments {
	article {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
ul.pagination {
    text-align: center;
}
#tag-cloud,.tag-cloud {
	line-height: 43px;
	a {
		text-align: center;
		color: #fff;
		//background-color: lighten(#04688F, 40%);
		background: url(../images/green_cup.png) repeat;
		margin-right: 5px;
		padding: 10px;
		border-radius: 10px;
	}
}
.tag-page {
	ul {
		margin-top: 40px;
		margin-bottom: 40px;
		li {
			padding-bottom: 20px;
		}
	}
}

div.photos {
	height: 408px;
	text-align: center;
	img {
		max-height: 400px;
		
	}
}