---
layout: learnpp
---

<div class="home">

	<h1>Learn++</h1>

	<ul class="posts">
		{% for post in site.learnpp %}
		<li>
			<span class="post-date"><em>{{ post.date | date: "%b %-d, %Y" }}</em> by <em>
				<a target="_blank" href="https://twitter.com/{{ post.author.display_name }}">@{{ post.author.display_name }}</a>
			</em></span>
			<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			<p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}...</p>
		</li>
		{% endfor %}
	</ul>

	<!-- Pagination links -->
	{% if paginator.total_pages > 1 %}
    <div class="center">
	<ul class="pagination">
		{% if paginator.previous_page %}
        <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a></li>
		{% else %}
        <li class="disabled"><a href="#">&laquo;</a></li>
		{% endif %}

		{% for page in (1..paginator.total_pages) %}
		{% if page == paginator.page %}
        <li class="active"><a href="#">{{ page }}</a></li>
		{% elsif page == 1 %}
        <li><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
		{% else %}
        <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
		{% endif %}
		{% endfor %}

		{% if paginator.next_page %}
        <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
		{% else %}
        <li class="disabled"><a href="#">&raquo;</a></li>
		{% endif %}
	</ul>
</div>
	{% endif %}

	<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
