<!DOCTYPE html>
<html>

	{% include head.html %}

    <body>

		{% include header.html %}

		<div class="page-content row">
			<div class="wrap col-md-8">
				{{ content }}
			</div>
			<div class="sidebar col-md-4">
				<div class="sidebar-content">
					{% for page in site.pages %}
						{% if page.url contains "page" %}
						{% else %}
							{% if page.title %}
							<h3>
								<a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
							</h3>
							{% endif %}
						{% endif %}
					{% endfor %}
							<h3>
								<a href="/learn++">++learn</a>
							</h3>
					<h2>tags</h2>
					<div id="tag-cloud">
						{{ site | tag_cloud }}
					</div>
				</div>
			</div>
		</div>

		{% include footer.html %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="/dcoder.js"></script>
		<script>
(function(i, s, o, g, r, a, m) {
	i['GoogleAnalyticsObject'] = r;
	i[r] = i[r] || function() {
		(i[r].q = i[r].q || []).push(arguments)
	}, i[r].l = 1 * new Date();
	a = s.createElement(o),
			m = s.getElementsByTagName(o)[0];
	a.async = 1;
	a.src = g;
	m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

ga('create', 'UA-29153949-2', 'auto');
ga('send', 'pageview');

		</script>
    </body>
</html>
