---
layout: default
comments: false
disqus_comments: false
---
<div class="post">

	<header class="post-header">
		<h1>{{ page.title }}</h1>
		<p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • 
			<a target="_blank" href="https://twitter.com/{{ page.author.display_name }}">@{{ page.author.display_name }}</a>
		{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
	</header>

	<article class="post-content">
		{{ content }}
	</article>
	<hr />
	{% if page.comments %}
	<div class="comments">
		<h2>Comments</h2>
		{% for comment in page.comments %}
		<article>
			<p class="meta">{{ comment.date | date: "%b %-d, %Y" }}{% if comment.author %} • <a href="{{ comment.author_url }}" target="_blank">{{ comment.author }}</a>{% endif %}{% if comment.meta %} • {{ comment.meta }}{% endif %}</p>
			<blockquote>{{ comment.content }}</blockquote>
		</article>
		{% endfor %}
	</div>


	{% endif %}
	{% if page.disqus_comments %}
	<div id="disqus_thread"></div>
    <script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'thheuer'; // required: replace example with your forum shortname

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script');
			dsq.type = 'text/javascript';
			dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	{% endif %}
</div>
